*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: #000;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  overflow-x: hidden;
}
